
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

header {
    background-color: #002826;
    display: flex;
    justify-content: space-between;
    padding: 30px 120px;
    align-items: center;
}

ul {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 36px;
    list-style-type: none;
}

a {
    text-decoration: none;
    color:#d6ddda;
    font-size: 18px;
}

a:hover {
    color:#db0a1f;
}

img {
    border-radius: 25px;
}

.hero-section {
    padding-right: 40px;
    max-width: 800px;
}

.header-logo {
    display: flex;
    gap: 20px;
    color:#db0a1f;
    font-size: 24px;
    font-weight: bold;
    align-items: center;
}

svg {
    transition: all 0.32s ease-in-out;
}

svg:hover {
    transform: scale(1.1); 
}

.main-section1 {
    
    display: flex;
    background-color: #002826;
    padding: 40px 120px 40px 120px;
    justify-content: space-between;
}

.main-title {
    color: #d6ddda;
    font-size: 48px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.hero-subtext {
    color:#db0a1f;
    font-size: 18px;
    padding-bottom: 20px;
}

.hero-button {
    background-color:#003835;
    color:#d6ddda;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0px;
    font-weight: bold;
    font-size: 18px;
}

.hero-button:hover {
    background-color:#db0a1f;
    color:#d6ddda;
    border: 1px solid #003835;
}

.title {
    font-size: 36px;
    font-weight: bolder;
    color: #d6ddda;
    text-align: center;
    margin-bottom: 32px;
}

.main-section2 {
    padding: 30px 90px 60px 90px;
    background-color: #003835;
}

.images {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.image-space {
    border: 2px solid #d6ddda;
    border-radius: 25px;
    margin-bottom: 10px;
    width: 200px;
    height: 200px;
}

.image1, .image2, .image3, .image4 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 200px;
    transition: all 0.32s ease-in-out;
}

.image1:hover, .image2:hover, .image3:hover, .image4:hover {
    transform: scale(1.1);   
}

.image-text {
    color: #d6ddda;
    text-align: center;
}

.main-section3 {
    background-color:#002826;   
    justify-content: center;
    align-items: center;
    color:#db0a1f;
}

.quote-text {
    padding: 60px 120px 20px;
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
}

.minor-text {
    text-align: right ;
    font-weight: bold;
    padding: 0px 120px 60px;
    font-size: 22px;
}

.main-section4 {
    padding: 70px 120px;
    background-color: #003835;
}

.box {
    padding: 30px 120px 30px 120px;
    background-color:#002826;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:#d6ddda;
}

.container-button {
    background-color:#003835;
    color:#d6ddda;
    border: 1px;
    padding: 10px 20px;
    border-radius: 12px;
    font-weight: bold;
    font-size: 18px;
}

.container-button:hover {
    background-color:#db0a1f;
    color:#d6ddda;
    border: 1px solid #003835;
}

span {
    font-weight: bold;
}

p {
    margin: 0;
    font-size: 20px;
}


footer {
    background-color: #002826;
    display: flex;
    justify-content: center;
    color:#db0a1f;
    padding: 30px;
}